body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;

}
.orange-color{
    color: orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 60%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    box-shadow: 10px 10px 30px gray;
    padding-left: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
#web-dev-ex{
    border-image: linear-gradient(blue, cyan);
    border-left: 10px solid;
    border-image-slice: 1;
   
}
#baby-developer{
    border-image: linear-gradient(orange, red);
    border-left: 10px solid;
    border-image-slice: 1;

}
footer p{
    text-align: center;
}